<?xml version="1.0"?>

<launch>
	<!-- Set navigation parameters -->
	<arg name="nav_allow_unknown" default="true" /> <!-- for the global planner, by defualt, it is true (NOTE: does not work currently, probably due to a bug in the offical navigation stack -->
	
	<!-- Set some Gmapping parameters -->
	<arg name="scan_topic" default="scan_hokuyo" />
	
	<!-- Set other paramters -->
	<arg name="use_sim_time" default="true" />
	<arg name="world_name_short" default="willowgarage.world" /> <!-- playground,empty,ball,willowgarage -->

	<!-- RVIZ -->
	<node name="rviz" pkg="rviz" type="rviz"
		args="-d $(find lemto_launchers)/rviz/mapping.rviz" />

	<!-- Bringup simulated robot -->
	<include
		file="$(find lemto_gazebo)/launch/bringup_simulated.launch">
		<arg name="x_robot" value="6" /> <!-- for willow garage, use 6, -16, 0 -->
		<arg name="y_robot" value="-16" />
		<arg name="z_robot" value="0" />
		<arg name="urdf_file" value="$(find xacro)/xacro.py '$(find lemto_description)/robots/lemto_turtle_no_kinect.urdf.xacro'" /> <!--lemto_turtle_no_kinect.urdf.xacro or lemto_turtle.urdf.xacro -->
	</include>

	<!-- Gazebo -->
	<include
		file="$(find lemto_gazebo)/launch/turtlebot_gazebo_world.launch">
		<arg name="world_name" value="$(find lemto_gazebo)/worlds/$(arg world_name_short)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)" />
	</include>

	<!-- Teleop -->
	<include file="$(find kobuki_keyop)/launch/keyop.launch" /> <!-- Sometimes the motors dont power up in time, press 'e' to enable motors! -->

	<!-- Gmapping (timed) -->
	<node pkg="lemto_tools" type="timed_roslaunch.sh" args="5 lemto_rw_gmapping normal_gmapping.launch scan_topic:=$(arg scan_topic)" name="timed_roslaunch" output="screen">
	</node>

	<!-- Metric navigation (normal) -->
	<include file="$(find lemto_navigation)/launch/move_base_rolling.launch"> <!-- rolling works fine for normal -->
		<arg name="allow_unknown" value="$(arg nav_allow_unknown)" />
		<arg name="scan_topic" value="$(arg scan_topic)" />
		<arg name="rolling" value="false" />
	</include>
</launch>
