<?xml version="1.0"?>

<launch>	
	<!-- Set navigation parameters -->
	<arg name="nav_allow_unknown" default="true" /> <!-- for the global planner, by defualt, it is true (NOTE: does not work currently, probably due to a bug in the offical navigation stack -->
	
	<!-- Set some Rolling Window Gmapping parameters -->
	<arg name="scan_topic" default="scan_hokuyo" />
	<arg name="rolling" default="true" /> <!-- true/false: use rolling window gmapping or not -->
	<arg name="windowsize" default="20" /> <!-- double, size in meters for rolling window, will be neglected if rolling is false -->
	<arg name="perfect_odometry" default="false" /> <!-- true/false: for simulations, perfect odometry can be used -->
	<arg name="suppress_console" default="true" /> <!-- true/false. This will suppress stderr output of gmapping -->
	<arg name="particles" default="80"/>
	<arg name="minimum_score" default="400"/> <!-- 400 seems good-->
	<arg name="publishCurrentPath" default="false" />
	<arg name="publishAllPaths" default="false" />
	<arg name="publishSpecificMap" default="-1" /> <!-- -1, $(arg particles), or particles+1 (calc manually) -->
		<!-- -1 is disable, 0 is first particle, 'particles-1' is last particle, 'particles' is best particle  -->

	<!-- Set other parameters -->
	<arg name="use_sim_time" default="true" />
	<arg name="world_name_short" default="willowgarage.world" /> <!-- empty,ball,willowgarage willowgarage_large -->

	<!-- RVIZ -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find lemto_launchers)/rviz/mapping.rviz" />

	<!-- Bringup simulated robot -->
	<include
		file="$(find lemto_gazebo)/launch/bringup_simulated.launch">
		<arg name="x_robot" value="6" /> <!-- for willow garage, use 6, -16, 0 OR 21, 4, 0 -->
		<arg name="y_robot" value="-16" />
		<arg name="z_robot" value="0" />
		<arg name="urdf_file" value="$(find xacro)/xacro.py '$(find lemto_description)/robots/lemto_turtle_no_kinect.urdf.xacro'" /> <!--lemto_turtle_no_kinect.urdf.xacro or lemto_turtle.urdf.xacro -->
	</include>

	<!-- Gazebo -->
	<include
		file="$(find lemto_gazebo)/launch/turtlebot_gazebo_world.launch">
		<arg name="world_name" value="$(find lemto_gazebo)/worlds/$(arg world_name_short)" />
		<arg name="use_sim_time" value="$(arg use_sim_time)" />
	</include>

	<!-- Teleop -->
	<include file="$(find kobuki_keyop)/launch/keyop.launch" /> <!-- Sometimes the motors dont power up in time, press 'e' to enable motors! -->

	<!-- Rolling Window Gmapping (timed) -->
	<node pkg="lemto_tools" 
              type="timed_roslaunch.sh" args="5 lemto_rw_gmapping gmapping_general_launcher.launch 
			scan_topic:=$(arg scan_topic) 
			rolling:=$(arg rolling) 
			windowsize:=$(arg windowsize) 
			perfect_odometry:=$(arg perfect_odometry) 
			suppress_console:=$(arg suppress_console) 
			particles:=$(arg particles) 
			minimum_score:=$(arg minimum_score)
			publishCurrentPath:=$(arg publishCurrentPath)
			publishAllPaths:=$(arg publishAllPaths)
			publishSpecificMap:=$(arg publishSpecificMap)" 
              name="timed_roslaunch" output="screen">
	</node>
	<!-- Normal Gmapping -->
	<!--<include file="$(find lemto_rw_gmapping)/launch/normal_gmapping.launch">
		<arg name="scan_topic" value="$(arg scan_topic)" />
	</include>-->

	<!-- Metric navigation (rolling) -->
	<include file="$(find lemto_navigation)/launch/move_base_rolling.launch">
		<arg name="allow_unknown" value="$(arg nav_allow_unknown)" />
		<arg name="scan_topic" value="$(arg scan_topic)" />
		<arg name="rolling" value="false" />
	</include>
	
</launch>

