<?xml version="1.0"?>

<launch>

	<!-- RVIZ -->
	<node name="rviz" pkg="rviz" type="rviz"
		args="-d $(find turtlebot_normal_tests)/rviz/navigation.rviz" />

	<!-- Gazebo -->
	<include
		file="$(find turtlebot_normal_tests)/launch/turtlebot_willow.launch" />

	<!-- Gmapping -->
	<include file="$(find turtlebot_normal_tests)/launch/gmapping_demo.launch" />

	<!-- Teleop -->
	<include file="$(find kobuki_keyop)/launch/keyop.launch" />
</launch>
