<!-- KL: based on turtlebot_navivations launch/inludes/gmapping.launch.xml -->
<launch>
	<arg name="scan_topic" default="scan" />

	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping"
		output="log">
		<param name="base_frame" value="base_footprint" />
		<param name="odom_frame" value="odom" />
		<param name="map_update_interval" value="5.0" />
		<param name="maxUrange" value="5.5" /> <!-- (5.5 for Hokuyo, 6 for Kinect) Default is 80, this should not be necessary -->
		<!-- <param name="maxRange" value="5.6" /> -->
                <!-- KL: It is best to comment the maxRange param, or else it will erreanously detect free space behind walls...-->
                <!-- (5.6 for Hokuyo, 8 for Kinect) Official documentation: The maximum range 
			of the sensor. If regions with no obstacles within the range of the sensor 
			should appear as free space in the map, set maxUrange < maximum range of 
			the real sensor <= maxRange. -->
		<param name="sigma" value="0.00" />
		<param name="kernelSize" value="1" />
		<param name="lstep" value="0.05" />
		<param name="astep" value="0.05" />
		<param name="iterations" value="5" />
		<param name="lsigma" value="0.075" />
		<param name="ogain" value="3.0" />
		<param name="lskip" value="0" />
		<param name="srr" value="0.00" />
		<param name="srt" value="0.00" />
		<param name="str" value="0.00" />
		<param name="stt" value="0.00" />
		<param name="linearUpdate" value="1000000" />
		<param name="angularUpdate" value="1000000" />
		<param name="temporalUpdate" value="-1.0" />
		<param name="resampleThreshold" value="0.5" />
		<param name="particles" value="80" />
		<!-- <param name="xmin" value="-50.0"/> <param name="ymin" value="-50.0"/> 
			<param name="xmax" value="50.0"/> <param name="ymax" value="50.0"/> make 
			the starting size small for the benefit of the Android client's memory... -->
		<param name="xmin" value="-30.0" />
		<param name="ymin" value="-30.0" />
		<param name="xmax" value="30.0" />
		<param name="ymax" value="30.0" />

		<param name="delta" value="0.05" />
		<param name="llsamplerange" value="0.01" />
		<param name="llsamplestep" value="0.01" />
		<param name="lasamplerange" value="0.005" />
		<param name="lasamplestep" value="0.005" />
		<remap from="scan" to="$(arg scan_topic)" />
	</node>
</launch>
