<?xml version="1.0"?>

<launch>	
	<arg name="load_map_directory" default=""/>

	<include file="$(find st_tests)/launch/includes/basic_topological_mapping_nav_sim1.launch.xml">
		<arg name="load_map_directory" value="$(arg load_map_directory)"/>
	</include>

	<!-- Run timed shell script -->
	<node pkg="st_tests" 
              type="timed_roslaunch.sh" args="5 st_tests basic_topological_mapping_nav_sim2.launch.xml" 
              name="timed_roslaunch" output="screen">
	</node>
</launch>

