<?xml version="1.0"?>

<launch>

	<arg name="use_sim_time" default="true" />
	<arg name="world_name"
		default="willowgarage.world" /> <!-- playground,empty,ball,willowgarage -->

	<!-- RVIZ -->
	<node name="rviz" pkg="rviz" type="rviz"
		args="-d $(find st_tests)/rviz/mapping.rviz" />

	<!-- Bringup simulated robot -->
	<include
		file="$(find st_gazebo)/launch/bringup_simulated.launch">
		<arg name="x_robot" value="6" /> <!-- for willow garage, use 6, -16, 0 -->
		<arg name="y_robot" value="-16" />
		<arg name="z_robot" value="0" />
	</include>

	<!-- Gazebo -->
	<include
		file="$(find st_gazebo)/launch/turtlebot_gazebo_world.launch">
		<arg name="world_name" value="$(find st_gazebo)/worlds/$(arg world_name)"/>
		<arg name="use_sim_time"
			value="$(arg use_sim_time)" />
	</include>

	<!-- Gmapping (timed) -->
	<node pkg="st_tests" 
              type="timed_roslaunch.sh" args="5 st_gmapping_rolling general_gmapping_nostderr.launch scan_topic:=scan_hokuyo launch_file:=normal_gmapping.launch suppress_console:=1" 
              name="timed_roslaunch" output="screen">
	</node>

	<!-- Teleop -->
	<include file="$(find kobuki_keyop)/launch/keyop.launch" /> <!-- Sometimes the motors dont power up in time, press 'e' to enable motors! -->
</launch>
