<?xml version="1.0"?>

<launch>	
	<arg name="load_map_directory" default=""/>

	<include file="$(find st_tests)/launch/includes/topological_mapping_normalnav_sim1.launch.xml">
		<arg name="load_map_directory" value="$(arg load_map_directory)"/>
	</include>

	<!-- Run timed shell script -->
	<node pkg="st_tests" 
              type="timed_roslaunch.sh" args="5 st_tests topological_mapping_normalnav_sim2.launch.xml" 
              name="timed_roslaunch" output="screen">
	</node>

	<!-- Run Move Base Topo -->
	<node pkg="st_navigation" type="move_base_topo" name="move_base_topo" output="screen">
		<param name="main_loop_frequency" value="100" /> <!-- default is 1hz currently -->
	</node>
</launch>

