<?xml version="1.0"?>

<!-- 
Play a bag file using  - -clock that plays these topics:
/scan_hokuyo
/tf (make sure it does not have the /map frame!)
/odom
/mobile_base/sensors/bumper_pointcloud
-->

<launch>	
	<!-- Set navigation parameters -->
	<arg name="nav_allow_unknown" default="true" /> <!-- for the global planner, by defualt, it is true (NOTE: does not work currently, probably due to a bug in the offical navigation stack -->
	
	<!-- Set some Rolling Window Gmapping parameters -->
	<arg name="scan_topic" default="scan_hokuyo" />
	<arg name="rolling" default="false" /> <!-- true/false: use rolling window gmapping or not -->
	<arg name="windowsize" default="20" /> <!-- double, size in meters for rolling window, will be neglected if rolling is false -->
	<arg name="perfect_odometry" default="false" /> <!-- true/false: for simulations, perfect odometry can be used -->
	<arg name="suppress_console" default="true" /> <!-- true/false. This will suppress stderr output of gmapping -->
	<arg name="particles" default="80"/>
	<arg name="minimum_score" default="400"/> <!-- 400 seems good-->
	<arg name="publishCurrentPath" default="false" />
	<arg name="publishAllPaths" default="false" />
	<arg name="publishSpecificMap" default="-1" /> <!-- -1, $(arg particles), or particles+1 (calc manually) -->
		<!-- -1 is disable, 0 is first particle, 'particles-1' is last particle, 'particles' is best particle  -->

	<!-- Set other parameters -->
	<arg name="use_sim_time" default="true" />
	<arg name="load_map_directory" default=""/> <!-- experimental: for loading a topological map -->
  	<arg name="urdf_file" default="$(find xacro)/xacro.py '$(find lemto_description)/robots/lemto_turtle.urdf.xacro'" />
  	<param name="robot_description" command="$(arg urdf_file)" />

	<!-- set use_sim_time flag -->
	<group if="$(arg use_sim_time)">
	  <param name="/use_sim_time" value="true" />
	</group>

	<!-- RVIZ -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find lemto_launchers)/rviz/mapping_recording_screencast_bagmapping.rviz" />

	<!-- Rolling Window Gmapping (timed) -->
	<node pkg="lemto_tools" 
              type="timed_roslaunch.sh" args="5 lemto_rw_gmapping gmapping_general_launcher.launch 
			scan_topic:=$(arg scan_topic) 
			rolling:=$(arg rolling) 
			windowsize:=$(arg windowsize) 
			perfect_odometry:=$(arg perfect_odometry) 
			suppress_console:=$(arg suppress_console) 
			particles:=$(arg particles) 
			minimum_score:=$(arg minimum_score)
			publishCurrentPath:=$(arg publishCurrentPath)
			publishAllPaths:=$(arg publishAllPaths)
			publishSpecificMap:=$(arg publishSpecificMap)" 
              name="timed_roslaunch" output="screen">
	</node>
</launch>

