<?xml version="1.0"?>
<!--
    - Semantic Turtle, as adapted by Koen Lekkerkerker
-->    
<robot name="semantic_turtle" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find st_description)/urdf/semantic_turtle_library.urdf.xacro" />
  
  <kobuki/>
  <stack_hexagons parent="base_link"/>
  <sensor_hokuyo  parent="base_link"/>
</robot>
